@import url('https://fonts.googleapis.com/css?family=Cabin');
html,
body {
    height: 100%;
}

.container {
    width: 100%;
    min-height: 100%;
    background-size: cover;
}

.header {
    background-color: rgba(240, 240, 240, 0.5);
    width: 100%;
    margin-top: 40px;
    padding: 0px 0px 0px 0px;
    border-radius: 50px;
}

.units {
    background-color: rgba(240, 240, 240, 0.5);
    width: 150px;
    margin: 40px auto auto auto;
    padding: 0px 0px 0px 0px;
    border-radius: 60px;
    cursor: pointer;
}

.mainDetails {
    background-color: rgba(240, 240, 240, 0.5);
    width: 100%;
    margin: 40px auto auto auto;
    padding: 5px 0px 0px 0px;
    border-radius: 50px;
}

.additionalDetails {
    background-color: rgba(240, 240, 240, 0.5);
    width: 100%;
    margin: 40px auto auto auto;
    padding: 0px 0px 0px 0px;
    border-radius: 50px;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 3em;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.75em;
    color: black;
    text-align: center;
}

h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.25em;
    color: black;
    text-align: center;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.25em;
    color: black;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}